body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left:30%;
    margin-right: 30%;
    margin-top: 100px:
}

h2 { 

   color: navy;
    margin-top: 100px;
}
img{
    height: 50%;
    width:50%;
}

#logo{
    height:100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 21%;
}

#logo2{
    height:100px;
    width: 100px;
    position:absolute;
    top: 10px;
    left: 69%;
}