body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 370px;
}

h2 { 

   color: navy;
    margin-top: 100px;
}
img{
    height: 50%;
    width:50%;
}

#logo{
    height:100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 21%;
}

#logo2{
    height:100px;
    width: 100px;
    position:absolute;
    top: 10px;
    left: 69%;
}

#navi_bar{
    list-style-type:circle;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    text-align: left;
}
 
#nav a{
    text-decoration: none;
    list-style-position: outside;
    display: block;
    padding: 8px 16px;
    
}

#nav a.active{
    
    background-color: purple;
    color: white; 
}


#nav:hover:not(.active) {
    background-color:palevioletred;
}